.mgp_label {

    color: #5a7df1;

}

.mgp_tel_label {

    color: #5ebb5e;
    font-size: 11px;

}

.mgp_kanban_tasks_ext {
    border-radius: 5px;
}

.mgp_systray_notif {
    padding: 6px 10px;
    cursor: pointer;
}

.tickets_list_notif {
    padding: 3px;
    background: white;
    width:300px;
    max-height: 200px;
    overflow-y:scroll;
} 
